/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    background-color: #020659;
}
body {
    width: 375px;
    margin: 0 auto;
    background-color: #ffffff;
}
* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
:root {
    --deepblue:#020659;
    --darkblue:#020873;
    --blue:#030A8C;
    --lightblue:#0D8DFB;
    --royalblue:#2104D9;
    --skyblue:#2699FB;
    --purple:#590242; 
}
title {
    display:grid;
    position: relative;
    left: 100px;
    top: 40px;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
h2, h3 {
    font-size:1em;
    line-height: 2em;
}
h1, p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2, h3{
    font-weight:bold;
    text-transform: uppercase;
    color:#590242
}
h1{
    font-size:1.25em;
    padding-bottom: 15px;
}
h2{
    padding-top: 20px;
    padding-left: 15px;
}
p,dl,dd{
    font-size:1em;
}
dl {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
section dt {
    display: inline-block;
    font-weight: bold;
}
section dd{
    display: inline-block;
}
body{
    color:#ffffff;
}
footer p{
    font-size:.75em;
}
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
@media screen and (min-width:834px){
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
}

#header nav{
    background: rgb(33,4,217);
    background: linear-gradient(90deg, rgba(33,4,217,1) 17%, rgba(9,9,121,1) 37%, rgba(2,0,36,1) 100%);
    padding: 25px;
}
#header h1, p{
    color: white;
}
#trending div{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}
.scroll {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow-x:auto;
    overflow-y:hidden;
}
.scroll section {
    margin: 10px;
    position:relative;
}
.scroll div{
    position: absolute;
    top: 251px;
    background-color: rgba(255,255,255.75);
    padding: 5px;
    height: 50px;
    width: 350px;
}
dl {
    display:flex;
}
dt{
    padding-right:5px;
}
audio{
    position:absolute;
    bottom: 150px;
    left: 5px;
}
.playlists{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow-x:auto;
    overflow-y:hidden;
    margin-top: 15px;
    background-color:var(--skyblue);
}
.playlists section {
    margin: 5px;
    position:relative;
}
.playlists div{
    position: relative;
    background-color: var(--lightblue)
}
.curated{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow-x:auto;
    overflow-y:hidden;
    margin-top:15px;
    background-color:var(--blue);
}
.curated section{
    margin: 5px;
    position:relative;
}
.curated div{
    position: relative;
    background-color:var(--darkblue);
}
audio::-webkit-media-controls-mute-button {
    background-color:#ffffff;
    border-radius:50%;
}
audio::-webkit-media-controls-play-button {
    background-color:#ffffff;
    border-radius:50%;
}
audio::-webkit-media-controls-enclosure {
    background-color:rgba(255,255,255.75);
}
#trending ::-webkit-scrollbar {
    width:15px;
    height:20px
}
#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px var(--purple);
}
#trending ::-webkit-scrollbar-thumb {
    background:#590242;
    border-radius: 5px;
}
#trending ::-webkit-scrollbar-thumb:hover {
    background:#020659;
}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width:15px;
    height:20px
}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px var(--deepblue);
}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: var(--deepblue);
    border-radius: 5px;
}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background:#ffffff;
}
button{
    background-color: var(--purple);
    color:#ffffff;
    margin: 10px;
    padding: 10px;
    max-width:fit-content;
    border-radius: 10px;
}
dt{
    text-transform: uppercase;
}
button:hover{
    background-color: var(--deepblue); 
}